# Assignment 5

In [1]:
import pandas as pd
import numpy as np

# TODO:
# Print out your dataframe

In [2]:
# TODO:
# Load up the dataset, setting correct header labels
# Use basic pandas commands to look through the dataset...
# get a feel for it before proceeding!
# Find out what value the dataset creators used to
# represent "nan" and ensure it's properly encoded as np.nan

# read in csv file, set index and header
df = pd.read_csv('assets/Datasets/census.data', index_col=0, header=None)

# rename header for columns
df.columns = ['education', 'age', 'capital_gain', 'race', 'capital_loss', 'hours_per_week', 'sex', 'classification']

# reset index of dataset
df.reset_index(drop=True, inplace=True)

# replace 0 with NaN
df = df.replace(0, np.nan)

# check dataset
df

,education,age,capital_gain,race,capital_loss,hours_per_week,sex,classification
0,Bachelors,39,2174.0,White,NaN,40,Male,<=50K
1,Bachelors,50,NaN,White,NaN,13,Male,<=50K
2,HS-grad,38,NaN,White,NaN,40,Male,<=50K
3,11th,53,NaN,Black,NaN,40,Male,<=50K
4,Bachelors,28,NaN,Black,NaN,40,Female,<=50K
5,Masters,37,NaN,White,NaN,40,Female,<=50K
6,9th,49,NaN,Black,NaN,16,Female,<=50K
7,HS-grad,52,NaN,White,NaN,45,Male,>50K
8,Masters,31,14084.0,White,NaN,50,Female,>50K
9,Bachelors,42,5178.0,White,NaN,40,Male,>50K
10,Some-college,37,NaN,Black,NaN,80,Male,>50K
11,Bachelors,30,NaN,Asian-Pac-Islander,NaN,40,Male,>50K
12,Bachelors,23,NaN,White,NaN,30,Female,<=50K
13,7th-8th,34,NaN,Amer-Indian-Eskimo,NaN,45,Male,<=50K
14,HS-grad,25,NaN,White,NaN,35,Male,<=50K
15,HS-grad,32,NaN,White,NaN,40,Male,<=50K
16,11th,38,NaN,White,NaN,50,Male,<=50K
17,Masters,43,NaN,White,NaN,45,Female,>50K
18,Doctorate,40,NaN,White,NaN,60,Male,>50K
19,HS-grad,54,NaN,Black,NaN,20,Female,<=50K
20,9th,35,NaN,Black,NaN,40,Male,<=50K
21,11th,43,NaN,White,2042.0,40,Male,<=50K
22,HS-grad,59,NaN,White,NaN,40,Female,<=50K
23,Bachelors,56,NaN,White,NaN,40,Male,>50K
24,HS-grad,19,NaN,White,NaN,40,Male,<=50K
25,Some-college,54,NaN,Asian-Pac-Islander,NaN,60,Male,>50K
26,HS-grad,39,NaN,White,NaN,80,Male,<=50K
27,HS-grad,49,NaN,White,NaN,40,Male,<=50K
28,Some-college,20,NaN,Black,NaN,44,Male,<=50K
29,Bachelors,45,NaN,White,1408.0,40,Male,<=50K
...,...,...,...,...,...,...,...,...
29506,HS-grad,30,NaN,White,NaN,55,Male,<=50K
29507,10th,32,NaN,White,NaN,40,Male,<=50K
29508,Some-college,22,NaN,White,NaN,40,Male,<=50K
29509,HS-grad,31,NaN,White,NaN,40,Female,<=50K
29510,HS-grad,29,NaN,White,NaN,35,Female,<=50K
29511,Bachelors,35,NaN,White,NaN,55,Female,>50K
29512,Bachelors,30,NaN,Asian-Pac-Islander,NaN,99,Female,<=50K
29513,Doctorate,34,NaN,White,NaN,60,Male,>50K
29514,Bachelors,54,NaN,Asian-Pac-Islander,NaN,50,Male,>50K
29515,Some-college,37,NaN,White,NaN,39,Female,<=50K
29516,12th,22,NaN,Black,NaN,35,Male,<=50K
29517,Bachelors,34,NaN,White,NaN,55,Female,>50K
29518,HS-grad,30,NaN,Black,NaN,46,Male,<=50K
29519,Bachelors,38,15020.0,Black,NaN,45,Female,>50K
29520,Doctorate,71,NaN,White,NaN,10,Male,>50K
29521,HS-grad,45,NaN,White,NaN,40,Female,<=50K
29522,HS-grad,41,NaN,Black,NaN,32,Female,<=50K
29523,HS-grad,72,NaN,White,NaN,25,Male,<=50K
29524,Masters,31,NaN,Other,NaN,30,Female,<=50K
29525,HS-grad,43,NaN,White,NaN,40,Male,<=50K
29526,Some-college,43,NaN,White,NaN,40,Female,<=50K
29527,Some-college,43,NaN,White,NaN,50,Male,<=50K
29528,10th,32,NaN,Amer-Indian-Eskimo,NaN,40,Male,<=50K
29529,Masters,32,NaN,Asian-Pac-Islander,NaN,11,Male,<=50K
29530,Masters,53,NaN,White,NaN,40,Male,>50K
29531,Some-college,22,NaN,White,NaN,40,Male,<=50K
29532,HS-grad,40,NaN,White,NaN,40,Male,>50K
29533,HS-grad,58,NaN,White,NaN,40,Female,<=50K
29534,HS-grad,22,NaN,White,NaN,20,Male,<=50K
29535,HS-grad,52,15024.0,White,NaN,40,Female,>50K

In [3]:
# TODO:
# Figure out which features should be continuous + numeric
# Conert these to the appropriate data type as needed,
# that is, float64 or int64

# check data types
df.dtypes

education          object
age                 int64
capital_gain      float64
race               object
capital_loss      float64
hours_per_week      int64
sex                object
classification     object
dtype: object

In [4]:
# TODO:
# Look through your data and identify any potential categorical
# features. Ensure you properly encode any ordinal types using
# the method discussed in the chapter.

# education
ordered_education = ['7th-8th','9th','10th','11th','12th','HS-grad','Some-college','Bachelors','Masters','Doctorate']
df.education = df.education.astype("category",
  ordered=True,
  categories=ordered_education
).cat.codes

df

,education,age,capital_gain,race,capital_loss,hours_per_week,sex,classification
0,7,39,2174.0,White,NaN,40,Male,<=50K
1,7,50,NaN,White,NaN,13,Male,<=50K
2,5,38,NaN,White,NaN,40,Male,<=50K
3,3,53,NaN,Black,NaN,40,Male,<=50K
4,7,28,NaN,Black,NaN,40,Female,<=50K
5,8,37,NaN,White,NaN,40,Female,<=50K
6,1,49,NaN,Black,NaN,16,Female,<=50K
7,5,52,NaN,White,NaN,45,Male,>50K
8,8,31,14084.0,White,NaN,50,Female,>50K
9,7,42,5178.0,White,NaN,40,Male,>50K
10,6,37,NaN,Black,NaN,80,Male,>50K
11,7,30,NaN,Asian-Pac-Islander,NaN,40,Male,>50K
12,7,23,NaN,White,NaN,30,Female,<=50K
13,0,34,NaN,Amer-Indian-Eskimo,NaN,45,Male,<=50K
14,5,25,NaN,White,NaN,35,Male,<=50K
15,5,32,NaN,White,NaN,40,Male,<=50K
16,3,38,NaN,White,NaN,50,Male,<=50K
17,8,43,NaN,White,NaN,45,Female,>50K
18,9,40,NaN,White,NaN,60,Male,>50K
19,5,54,NaN,Black,NaN,20,Female,<=50K
20,1,35,NaN,Black,NaN,40,Male,<=50K
21,3,43,NaN,White,2042.0,40,Male,<=50K
22,5,59,NaN,White,NaN,40,Female,<=50K
23,7,56,NaN,White,NaN,40,Male,>50K
24,5,19,NaN,White,NaN,40,Male,<=50K
25,6,54,NaN,Asian-Pac-Islander,NaN,60,Male,>50K
26,5,39,NaN,White,NaN,80,Male,<=50K
27,5,49,NaN,White,NaN,40,Male,<=50K
28,6,20,NaN,Black,NaN,44,Male,<=50K
29,7,45,NaN,White,1408.0,40,Male,<=50K
...,...,...,...,...,...,...,...,...
29506,5,30,NaN,White,NaN,55,Male,<=50K
29507,2,32,NaN,White,NaN,40,Male,<=50K
29508,6,22,NaN,White,NaN,40,Male,<=50K
29509,5,31,NaN,White,NaN,40,Female,<=50K
29510,5,29,NaN,White,NaN,35,Female,<=50K
29511,7,35,NaN,White,NaN,55,Female,>50K
29512,7,30,NaN,Asian-Pac-Islander,NaN,99,Female,<=50K
29513,9,34,NaN,White,NaN,60,Male,>50K
29514,7,54,NaN,Asian-Pac-Islander,NaN,50,Male,>50K
29515,6,37,NaN,White,NaN,39,Female,<=50K
29516,4,22,NaN,Black,NaN,35,Male,<=50K
29517,7,34,NaN,White,NaN,55,Female,>50K
29518,5,30,NaN,Black,NaN,46,Male,<=50K
29519,7,38,15020.0,Black,NaN,45,Female,>50K
29520,9,71,NaN,White,NaN,10,Male,>50K
29521,5,45,NaN,White,NaN,40,Female,<=50K
29522,5,41,NaN,Black,NaN,32,Female,<=50K
29523,5,72,NaN,White,NaN,25,Male,<=50K
29524,8,31,NaN,Other,NaN,30,Female,<=50K
29525,5,43,NaN,White,NaN,40,Male,<=50K
29526,6,43,NaN,White,NaN,40,Female,<=50K
29527,6,43,NaN,White,NaN,50,Male,<=50K
29528,2,32,NaN,Amer-Indian-Eskimo,NaN,40,Male,<=50K
29529,8,32,NaN,Asian-Pac-Islander,NaN,11,Male,<=50K
29530,8,53,NaN,White,NaN,40,Male,>50K
29531,6,22,NaN,White,NaN,40,Male,<=50K
29532,5,40,NaN,White,NaN,40,Male,>50K
29533,5,58,NaN,White,NaN,40,Female,<=50K
29534,5,22,NaN,White,NaN,20,Male,<=50K
29535,5,52,15024.0,White,NaN,40,Female,>50K

In [5]:
# TODO:
# Look through your data and identify any potential categorical
# features. Ensure you properly encode any nominal types by
# exploding them out to new, separate, boolean fatures.

# classification
unordered_classification = ['>50K','<=50K']

df.classification = df.classification.astype("category",
  categories=unordered_classification
).cat.codes

# race
unordered_race = ['White','Asian-Pac-Islander', 'Black', 'Amer-Indian-Eskimo', 'Other']

df.race = df.race.astype("category",
  categories=unordered_race
).cat.codes

# sex
unordered_sex = ['Male','Female']

df.sex = df.sex.astype("category",
  categories=unordered_sex
).cat.codes

In [6]:
df = pd.get_dummies(df,columns=['classification'])
df = pd.get_dummies(df,columns=['race'])
df = pd.get_dummies(df,columns=['sex'])

In [7]:
df

,education,age,capital_gain,capital_loss,hours_per_week,classification_0,classification_1,race_0,race_1,race_2,race_3,race_4,sex_0,sex_1
0,7,39,2174.0,NaN,40,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,7,50,NaN,NaN,13,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,5,38,NaN,NaN,40,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,3,53,NaN,NaN,40,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,7,28,NaN,NaN,40,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
5,8,37,NaN,NaN,40,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
6,1,49,NaN,NaN,16,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
7,5,52,NaN,NaN,45,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
8,8,31,14084.0,NaN,50,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
9,7,42,5178.0,NaN,40,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
10,6,37,NaN,NaN,80,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
11,7,30,NaN,NaN,40,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
12,7,23,NaN,NaN,30,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
13,0,34,NaN,NaN,45,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
14,5,25,NaN,NaN,35,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
15,5,32,NaN,NaN,40,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
16,3,38,NaN,NaN,50,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
17,8,43,NaN,NaN,45,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
18,9,40,NaN,NaN,60,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
19,5,54,NaN,NaN,20,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
20,1,35,NaN,NaN,40,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
21,3,43,NaN,2042.0,40,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
22,5,59,NaN,NaN,40,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
23,7,56,NaN,NaN,40,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
24,5,19,NaN,NaN,40,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
25,6,54,NaN,NaN,60,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
26,5,39,NaN,NaN,80,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
27,5,49,NaN,NaN,40,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
28,6,20,NaN,NaN,44,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
29,7,45,NaN,1408.0,40,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29506,5,30,NaN,NaN,55,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
29507,2,32,NaN,NaN,40,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
29508,6,22,NaN,NaN,40,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
29509,5,31,NaN,NaN,40,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
29510,5,29,NaN,NaN,35,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
29511,7,35,NaN,NaN,55,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
29512,7,30,NaN,NaN,99,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
29513,9,34,NaN,NaN,60,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
29514,7,54,NaN,NaN,50,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
29515,6,37,NaN,NaN,39,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
29516,4,22,NaN,NaN,35,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
29517,7,34,NaN,NaN,55,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
29518,5,30,NaN,NaN,46,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
29519,7,38,15020.0,NaN,45,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
29520,9,71,NaN,NaN,10,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
29521,5,45,NaN,NaN,40,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
29522,5,41,NaN,NaN,32,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
29523,5,72,NaN,NaN,25,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
29524,8,31,NaN,NaN,30,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
29525,5,43,NaN,NaN,40,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
29526,6,43,NaN,NaN,40,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
29527,6,43,NaN,NaN,50,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
29528,2,32,NaN,NaN,40,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
29529,8,32,NaN,NaN,11,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
29530,8,53,NaN,NaN,40,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
29531,6,22,NaN,NaN,40,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
29532,5,40,NaN,NaN,40,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
29533,5,58,NaN,NaN,40,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
29534,5,22,NaN,NaN,20,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
29535,5,52,15024.0,NaN,40,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0