# Slicin' and Dicin' with pandas

In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('assets/Datasets/tutorial.csv')

In [11]:
df

       col0      col1      col2      col3
0 -0.722876 -1.330682  1.309208  0.232378
1  1.160396 -0.730879  0.677368  1.044722
2 -1.062870 -0.503704 -0.238536 -1.417937
3  0.437078  0.362640 -0.111228 -1.649853

## Row and Column Indexing

In [12]:
df.col0

0   -0.722876
1    1.160396
2   -1.062870
3    0.437078
Name: col0, dtype: float64

In [13]:
df['col0']

0   -0.722876
1    1.160396
2   -1.062870
3    0.437078
Name: col0, dtype: float64

In [14]:
df[['col0']]

       col0
0 -0.722876
1  1.160396
2 -1.062870
3  0.437078

In [15]:
df.loc[:, 'col0']

0   -0.722876
1    1.160396
2   -1.062870
3    0.437078
Name: col0, dtype: float64

In [16]:
df.loc[:, ['col0']]

       col0
0 -0.722876
1  1.160396
2 -1.062870
3  0.437078

In [17]:
df.iloc[:, 0]

0   -0.722876
1    1.160396
2   -1.062870
3    0.437078
Name: col0, dtype: float64

In [18]:
df.iloc[:, [0]]

       col0
0 -0.722876
1  1.160396
2 -1.062870
3  0.437078

In [19]:
df.ix[:, 0]

0   -0.722876
1    1.160396
2   -1.062870
3    0.437078
Name: col0, dtype: float64

In [24]:
df[0:1]

       col0      col1      col2      col3
0 -0.722876 -1.330682  1.309208  0.232378

In [25]:
df.iloc[0:1, :]

       col0      col1      col2      col3
0 -0.722876 -1.330682  1.309208  0.232378

## Boolean Indexing

In [26]:
df.col0 < 0

0     True
1    False
2     True
3    False
Name: col0, dtype: bool

In [27]:
df[ df.col0 < 0 ]

       col0      col1      col2      col3
0 -0.722876 -1.330682  1.309208  0.232378
2 -1.062870 -0.503704 -0.238536 -1.417937

In [28]:
df[ (df.col0<0) | (df.col1<0) ]

       col0      col1      col2      col3
0 -0.722876 -1.330682  1.309208  0.232378
1  1.160396 -0.730879  0.677368  1.044722
2 -1.062870 -0.503704 -0.238536 -1.417937

## Writing to a Slice

In [29]:
df[df < 0] = -100

In [30]:
df

         col0       col1        col2        col3
0 -100.000000 -100.00000    1.309208    0.232378
1    1.160396 -100.00000    0.677368    1.044722
2 -100.000000 -100.00000 -100.000000 -100.000000
3    0.437078    0.36264 -100.000000 -100.000000