# Wrangling Data

Getting rid of NaN's, missing data, from datasets.

In [14]:
import numpy as np
import pandas as pd

df = pd.read_csv('assets/Datasets/tutorial.csv')
df

       col0      col1      col2      col3
0 -0.722876 -1.330682  1.309208  0.232378
1  1.160396 -0.730879  0.677368  1.044722
2 -1.062870 -0.503704 -0.238536 -1.417937
3  0.437078  0.362640 -0.111228 -1.649853

In [29]:
df.iloc[1, 2] = np.nan
df

       col0      col1      col2      col3
0 -0.722876 -1.330682   1.30921  0.232378
1  1.160396 -0.730879       NaN  1.044722
2 -1.062870 -0.503704 -0.238536 -1.417937
3  0.437078  0.362640 -0.111228 -1.649853

Replace NaN with scalar value:

In [31]:
#df.fillna( df.mean() )
#df.fillna(0)

#df.fillna(method='ffill')  # fill the values forward
df.fillna(method='bfill')  # fill the values in reverse
#df.fillna(limit=5)

       col0      col1      col2      col3
0 -0.722876 -1.330682  1.309208  0.232378
1  1.160396 -0.730879 -0.238536  1.044722
2 -1.062870 -0.503704 -0.238536 -1.417937
3  0.437078  0.362640 -0.111228 -1.649853

Drop Nan from dataset:

In [44]:
df_alt = pd.read_csv('assets/Datasets/tutorial.csv')
df_alt.iloc[1, 2] = np.nan
df_alt

       col0      col1      col2      col3
0 -0.722876 -1.330682  1.309208  0.232378
1  1.160396 -0.730879       NaN  1.044722
2 -1.062870 -0.503704 -0.238536 -1.417937
3  0.437078  0.362640 -0.111228 -1.649853

In [45]:
df_alt = df_alt.dropna(axis=0)  # row 
#df_alt = df_alt.dropna(axis=1)  # column

# Drop any row that has at least 4 NON-NaNs within it:
#df_alt = df_alt.dropna(axis=0, thresh=4)
df_alt

       col0      col1      col2      col3
0 -0.722876 -1.330682  1.309208  0.232378
2 -1.062870 -0.503704 -0.238536 -1.417937
3  0.437078  0.362640 -0.111228 -1.649853